.App {
  text-align: center;
  font-weight: 300;
  font-family: "Work Sans";
}

#brand {
    color: white;
    font-size: 1em;
}

.navbar-nav span[role=button] {
    display: inline-block;
    line-height: 20px;
}

.nav a {
    color: white !important;
    font-size: 1em;
    float: left;
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.nav a:hover {
    border-bottom: 3px solid #c7ecee;
}

.nav a.active {
    border-bottom: 3px solid #c7ecee;
}

body {
    background-color: #30336b;
}


.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

#wrapper {
    padding-bottom: 5%;
}

#accordion {
    margin-top: 40px;
}

#map-wrapper {
    background-color: whitesmoke;
    box-shadow: 0 0 6px 2px rgba(0,0,0,.1);
}

#orders-wrapper {
    background-color: whitesmoke;
    box-shadow: 0 0 6px 2px rgba(0,0,0,.1);
    padding-top: 1%;
    padding-bottom: 5%;
}

#refresh-wrapper {
    padding-top: .5%;
    padding-bottom: .5%;
    display: inline-block;
}

#map {
    padding: 100px;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.legend {
    font-weight: 300;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: oblique;
}

.cursortext {
    font-weight: 300;
    font-family: "Work Sans";
    font-size: 12px;
}

.robotLabel {
    font-weight: 300;
    font-family: "Work Sans";
    font-size: 10px;
}