.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgba(30, 73, 120, 0.831);
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

#accordion {
    margin-top: 100px;
}

#map {
    padding: 100px;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.legend {
    font-weight: 300;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: oblique;
}

.cursortext {
    font-weight: 300;
    font-family: "Work Sans";
    font-size: 12px;
}

.robotLabel {
  font-weight: 400;
  font-family: "Work Sans";
  font-size: 10px;
}